.profile-container {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    font-size: 1.8em;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.profile-container .user-details {
    margin-bottom: 30px;
}

.profile-container .user-details p {
    font-size: 1.1em;
    margin: 5px 0;
    color: #555;
}

.collection {
    margin-bottom: 20px;
}

.collection h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.collection p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.table-container {
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table-container th, .table-container td {
    padding: 12px;
    text-align: left;
}

.table-container th {
    background-color: #444;
    color: #ffffff;
}

.table-container td {
    border-bottom: 1px solid #dddddd;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.tags {
    margin: 10px 0;
}

.tag {
    display: inline-block;
    background-color: #007BFF;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-right: 5px;
}

.export-container {
    margin: 50px auto;
    max-width: 300px;
    text-align: center;
}

.export-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.export-btn:hover {
    background-color: #0056b3;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .export-btn {
    background-color: #0056b3;
}